.button_place_search-section {
  width: 168px;
  height: 66px;
  margin: 0 0 0 -150px;
  background-color: #2f71e5;
  color: white;
  border: none;
  z-index: 1;
  transition: background-color linear 0.1s;
}

.button_place_search-section:hover {
  background-color: #347eff;
}

.button_place_search-section:active {
  background-color: #2a65cc;
}
