.about-the-author {
  max-width: 1440px;
  width: 100%;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .about-the-author {
    padding: 44px 0 61px;
  }
}

@media screen and (max-width: 560px) {
  .about-the-author {
    padding: 32px 0;
  }
}
