.popup__container {
  width: 430px;
  padding: 34px 36px 28px;
  position: relative;
  align-self: center;
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 10px;
  border: solid 1px white;
  box-sizing: border-box;
  z-index: 1;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 320px;
    margin: 30px 0 0;
    padding: 16px;
  }
}
