.navigation__link {
  text-decoration: none;
  border: 0;
  cursor: pointer;
  opacity: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: opacity 0.6s linear 0.1s;
}

.navigation__link:hover {
  opacity: 0.8;
}
