.articles__list {
  margin: 0;
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 16px;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .articles__list {
    gap: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .articles__list {
    padding: 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .articles__list {
    padding: 56px 0 21px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
}

@media screen and (max-width: 560px) {
  .articles__list {
    gap: 14px;
  }
}
