.article__source {
  margin: 18px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-family: 'Roboto-slab', sans-serif;
  text-transform: uppercase;
  color: #b6bcbf;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 192px;
}

@media screen and (max-width: 1024px) {
  .article__source {
    max-width: 192px;
    margin: 12px 0 0;
  }
}

@media screen and (max-width: 962px) {
  .article__source {
    margin: 12px 0 0;
  }
}

@media screen and (max-width: 560px) {
  .article__source {
    margin: 31px 0 0;
  }
}
