.form__input {
  max-width: 358px;
  width: 100%;
  margin: 8px auto 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', Arial, sans-serif;
  padding-bottom: 13px;
  color: black;
  box-sizing: border-box;
}

.form__input:focus {
  outline-color: #007ccf;
  opacity: 0.9;
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(196, 196, 196, 1);
}

@media screen and (max-width: 580px) {
  .form__input {
    margin: 8px 0 0;
  }
}
