.about-the-author__title {
  margin: 50px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  font-family: 'Roboto-slab', sans-serif;
}

@media screen and (max-width: 870px) {
  .about-the-author__title {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 560px) {
  .about-the-author__title {
    margin: 0;
  }
}
