.articles__list {
  width: 100%;
  margin: 0;
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  justify-content: space-between;
  gap: 16px;
  list-style-type: none;
}

@media screen and (max-width: 1439.5px) {
  .articles__list {
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .articles__list {
    padding: 32px 0;
  }
}
@media screen and (max-width: 767px) {
  .articles__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .articles__list {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
