.article__delete-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 24px;
  top: 24px;
  background-image: url(../../../images/trash.svg);
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
