.popup__switch-forms-button {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: transparent;
  color: #2f71e5;
  border: none;
  cursor: pointer;
  transition: color linear 0.2s;
}

.popup__switch-forms-button:hover {
  color: #347eff;
}
