.header__menu-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .header__menu-icon {
    margin: 0 0 0 auto;
    cursor: pointer;
    transition: opacity linear 0.3s;
  }
}

@media screen and (max-width: 680px) {
  .header__menu-icon:hover {
    opacity: 0.6;
  }
}
