.articles {
  width: 85.6%;
  padding: 0 7.2%;
  background-color: #f5f6f7;
}

@media screen and (max-width: 850px) {
  .articles {
    width: 90%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 560px) {
  .articles {
    justify-content: center;
    margin: 0 auto;
  }
}
